#include "SharedProject.xcconfig"

#include "../../addons/ofxGeneric/configs/SharedDebug.xcconfig"

//GCC_REUSE_STRINGS = NO;
//GCC_INLINES_ARE_PRIVATE_EXTERN = NO;

BUILD_BUNDLE_ID_SUFFIX = Debug
BUILD_DEFAULT_SUFFIX = 
BUILD_ICON_SUFFIX = 
BUILD_NAME_SUFFIX = DBG

LIBRARY_SEARCH_PATHS = $(inherited)

GCC_PREPROCESSOR_DEFINITIONS = $(OFXGENERIC_SHARED_DEBUG_GCC_PREPROCESSOR_DEFINITIONS)