#include "SharedProject.xcconfig"

#include "../../addons/ofxGeneric/configs/SharedRelease.xcconfig"

//GCC_REUSE_STRINGS = NO;
//GCC_INLINES_ARE_PRIVATE_EXTERN = NO;

CODE_SIGN_IDENTITY[sdk=iphoneos*] = iPhone Distribution: Lumos Labs, Inc.

CODE_SIGN_ENTITLEMENTS = Lumosity.entitlements

BUILD_BUNDLE_ID_SUFFIX =
BUILD_DEFAULT_SUFFIX =
BUILD_ICON_SUFFIX =
BUILD_NAME_SUFFIX =

LIBRARY_SEARCH_PATHS = $(inherited)
