OFXGENERIC_PATH = ../addons/ofxGeneric/ // relative to project

#include "../../addons/ofxGeneric/configs/SharedProject.xcconfig"

SKIP_INSTALL = NO

GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = iOS_Prefix.pch

INFOPLIST_FILE = iOS-Info.plist

TARGETED_DEVICE_FAMILY = 1,2


APP_PROJECT_OTHER_LDFLAGS = $(OFXGENERIC_PROJECT_OTHER_LDFLAGS)
APP_PROJECT_USER_HEADER_SEARCH_PATHS = $(OFXGENERIC_PROJECT_HEADER_SEARCH_PATHS) "../src/**"
APP_PROJECT_GCC_PREPROCESSOR_DEFINITIONS = $(OFXGENERIC_SHARED_DEBUG_GCC_PREPROCESSOR_DEFINITIONS)

//// overridable ////
OTHER_LDFLAGS = $(APP_PROJECT_OTHER_LDFLAGS)
USER_HEADER_SEARCH_PATHS = $(APP_PROJECT_USER_HEADER_SEARCH_PATHS)
GCC_PREPROCESSOR_DEFINITIONS = $(APP_PROJECT_GCC_PREPROCESSOR_DEFINITIONS)